<div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
  <nb-card>
    <div class="btn-group btn-group-toggle btn-group-full-width" data-toggle="buttons">
      <label ngbButtonLabel class="btn btn-primary" *ngFor="let key of objectKeys(productType)"
             [class.active]="productType[key]">
        <input ngbButton type="checkbox" [(ngModel)]="productType[key]" (change)="filterProducts($event, key)"> {{key}}
      </label>
    </div>
  </nb-card>


  <nb-card>
    <nb-card-header class="color bg-info"><h3>{{searchkey}}</h3></nb-card-header>
    <nb-card-body>
      <h5>{{errorMessage}}</h5>
      <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12" *ngIf="!errorMessage">
        <div class="display-flex">

        <span *ngFor="let p of products ; let i = index ">
          <nb-card class="col-xxxl-2 col-xxl-2 col-lg-2 col-md-2 section" style="flex-wrap: wrap;
        flex: initial; ">
            <nb-card-body>
               <a (click)="productDetails(p['_id'])">
               <div class="row">
                    <img [src]="globalShared['urlpath'] + p['image']"  src-fallback="{{globalShared['defaultimage']}}" class="thumbnail mx-auto d-block">
                 </div>
            <div class="row">
              <blockquote class="blockquote ">
                <p class="mb-0">{{p['title']}} </p>
              </blockquote>
            </div>
            </a>
            </nb-card-body>
          </nb-card>
        </span>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>
  </nb-card>

</div>
