<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <!--<a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>-->
    <a class="logo" routerLink="../pages/dashboard" href="#/pages/dashboard">new<span>Tech</span></a>
  </div>
  <!--<ngx-theme-switcher></ngx-theme-switcher>-->
</div>

<!-- <nb-actions size="medium" class="header-container" [class.right]="true" [class.left]="position === 'inverse'">
  <nb-action>
    <div [hidden]="!hidebttn">
      <div class="dropdown ghost-dropdown" ngbDropdown>
        <nb-user class="dropdown-toggle" ngbDropdownToggle [name]="profileName"
          [picture]="profilePic ? globalShared['urlpath']+profilePic : false"></nb-user>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li class="dropdown-item" *ngFor="let menu of userMenu" (click)="onMenuClick(menu.path)"> {{menu.title}} </li>
        </ul>
      </div>
    </div>
    <div [hidden]="hidebttn">
      <a routerLink="../auth/login" href="#/auth/login"><strong>Sign-In</strong> </a>
      <a routerlink="../auth/register" href="#/auth/register"><strong>Sign Up</strong></a>
    </div>
  </nb-action>
  <nb-action class="control-item">
    <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
  </nb-action>
</nb-actions> -->

<div class="header-container"  >
  <nb-actions size="small">
    <nb-action class="control-item">
      <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
    </nb-action>
    <nb-action class="control-item">
      <div [hidden]="!hidebttn">
        <!-- <div class="dropdown ghost-dropdown" ngbDropdown>
          <nb-user class="dropdown-toggle" ngbDropdownToggle [name]="profileName" 
            [picture]="profilePic ? globalShared['urlpath']+profilePic : false"></nb-user>
          <ul class="dropdown-menu" ngbDropdownMenu >
            <li class="dropdown-item" *ngFor="let menu of userMenu" (click)="onMenuClick(menu.path)"> {{menu.title}} </li>
          </ul>
        </div> -->
        <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
        <nb-user [nbContextMenu]="userMenu" nbContextMenuTag="userActionMenu" [onlyPicture]="false"
          [name]="profileName" [picture]="profilePic ? globalShared['urlpath']+profilePic : false">
        </nb-user>
        </nb-action>
      </div>
      <div [hidden]="hidebttn">
        <a routerLink="../auth/login" href="#/auth/login"><strong>Sign-In</strong> </a>
        <a routerlink="../auth/register" href="#/auth/register"><strong>Sign Up</strong></a>
      </div>
    </nb-action>
    
  </nb-actions>
  <ngx-cart class="cart"></ngx-cart>
</div>

