
<div class="header-container"
[class.left]="position === 'normal'"
[class.right]="position === 'inverse'">
<div class="logo-containter">
<!--<a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>-->
<a class="logo"  routerLink="../pages/dashboard" href="#/pages/dashboard">new<span>Tech</span></a>
</div>
<!--<ngx-theme-switcher></ngx-theme-switcher>-->
</div>

<!--<nb-actions-->
<!--size="medium"-->
<!--class="header-container"-->
<!--[class.right]="position === 'normal'"-->
<!--[class.left]="position === 'inverse'">-->
<!--<nb-action >-->

<!--<div  [hidden]="!hidebttn">-->
 <!--<nb-user (menuClick)="onMenuClick($event)" [name]="profileName" [picture]="user?.picture"></nb-user>-->

<!--</div>-->
<!--<div [hidden]="hidebttn">-->
 <!--&lt;!&ndash;<a router-link="/pages/forms/inputs" routerLinkActive="active" class ="signin">Sign-In</a>&ndash;&gt;-->
 <!--<a routerLink="../auth/login" href="#/auth/login"><strong>Sign-In</strong> </a>-->
 <!--<a routerlink="../auth/register" href="#/auth/register" ><strong>Sign Up</strong></a>-->
<!--</div>-->
<!--</nb-action>-->

<!--<nb-action class="control-item">-->
<!--<nb-search type="rotate-layout" ></nb-search>-->
<!--</nb-action>-->
<!--</nb-actions>-->


<nb-actions
size="medium"
class="header-container"
[class.right]="true"
[class.left]="position === 'inverse'">
<!--<nb-action icon="nb-grid-b" class="toggle-layout" (click)="toggleSettings()"></nb-action>-->
<nb-action>

<div  [hidden]="!hidebttn" >
<!--<button [nbContextMenu]="userMenu"></button> -->
 <div class="dropdown ghost-dropdown" ngbDropdown>
 <nb-user class="dropdown-toggle" ngbDropdownToggle [name]="profileName" [picture]="profilePic ? globalShared['urlpath']+profilePic : false"></nb-user>
   <!--<ul class="dropdown-menu" ngbDropdownMenu>-->
     <!--<li *ngFor="let menu of userMenu" class=" ">{{menu.title}}</li>-->

   <!--</ul>-->
   <ul class="dropdown-menu" ngbDropdownMenu>
     <li class="dropdown-item" *ngFor="let menu of userMenu" (click)="onMenuClick(menu.path)"> {{menu.title}} </li>

   </ul>
 </div>
</div>
<div [hidden]="hidebttn">
 <!--<a router-link="/pages/forms/inputs" routerLinkActive="active" class ="signin">Sign-In</a>-->
 <a routerLink="../auth/login" href="#/auth/login"><strong>Sign-In</strong> </a>
 <a routerlink="../auth/register" href="#/auth/register" ><strong>Sign Up</strong></a>
</div>
</nb-action>

<!--<nb-action class="control-item" disabled icon="nb-notifications"></nb-action>-->

<!--<nb-action class="control-item"  style="position: relative;"><i class="fa fa-shopping-bag" style="font-size: xx-large;" aria-hidden="true">-->
<!--<span class="indicator" >3</span>-->
<!--</i>-->
<!--</nb-action>-->

<nb-action class="control-item">
<nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
</nb-action>
</nb-actions>

<ngx-cart class="cart" ></ngx-cart>
