<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12 col-sm-12 col-is-12" >
  <ngux-carousel></ngux-carousel>
  </div>
</div>

<div class="row" style="margin-top: 10px">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12 col-sm-12 col-is-12">
    <nb-card>
      <nb-card-header class="color headerpad"><h4><strong>Motherboard</strong></h4> </nb-card-header>
      <nb-card-body>
        <div class="ngspinner" *ngIf="isRunning">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div> 
        <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12 col-sm-12 col-is-12">
          <ngu-carousel #myCarousel [inputs]="carouselTile"  [dataSource]="motherboard">
            <ngu-tile *nguCarouselDef="let slide;">
              <a (click)="productDetails(slide['data']['id'])">
                <img [src]="globalShared['urlpath']+slide['image']"  src-fallback="{{globalShared['defaultimage']}}" class="thumbnail mx-auto d-block">
                <blockquote class="blockquote">
                  <p class="mb-0">{{slide['data']['title']}} </p>
                </blockquote>
              </a>
            </ngu-tile>
            <a class="right carousel-control-prev" NguCarouselPrev role="button">
              <span aria-hidden="true" class="carousel-control-prev-icon leftRs"></span>
              <span class="sr-only">Prev</span>
            </a> 
            <a class="right carousel-control-next" NguCarouselNext role="button">
              <span aria-hidden="false" class="carousel-control-next-icon rightRs"></span>
              <span class="sr-only">Next</span>
            </a>          
          </ngu-carousel>
        </div>

      </nb-card-body>
      <nb-card-footer style="padding: 0.5rem">
        <nb-actions size="medium" fullWidth>
          <nb-action>

              <i style="font-size: 2rem" class="nb-grid-b-outline"></i>
            <a href="#/pages/productlist/Motherboard" routerLink="['../pages/productlist', 'Motherboard']"><span>View More</span>
            </a>
          </nb-action>
        </nb-actions>
      </nb-card-footer>
    </nb-card>

  </div>
</div>

<div class="row" style="margin-top: 10px">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12 col-is-12">
    <nb-card>
        <nb-card-header class="color headerpad"><h4><strong>Processor</strong></h4> </nb-card-header>
      <nb-card-body>
        <div class="ngspinner" *ngIf="isRunning">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
         </div>
        <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12 col-is-12" >
       
          <ngu-carousel #myCarousel [inputs]="carouselTile"  (carouselLoad)="carouselTileLoad($event)" [dataSource]="processor">
            <ngu-tile *nguCarouselDef="let slide;">
              <a (click)="productDetails(slide['data']['id'])">
                <img [src]="globalShared['urlpath']+slide['image']"  src-fallback="{{globalShared['defaultimage']}}" class="thumbnail mx-auto d-block">
                <blockquote class="blockquote">
                  <p class="mb-0">{{slide['data']['title']}} </p>
                </blockquote>
              </a>
            </ngu-tile>
            <a class="right carousel-control-prev" NguCarouselPrev role="button">
              <span aria-hidden="true" class="carousel-control-prev-icon leftRs"></span>
              <span class="sr-only">Prev</span>
            </a>
            <a class="right carousel-control-next" NguCarouselNext role="button">
              <span aria-hidden="true" class="carousel-control-next-icon rightRs"></span>
              <span class="sr-only">Next</span>
            </a>
          </ngu-carousel>

        </div>
      </nb-card-body>
      <nb-card-footer style="padding: 0.5rem">
        <nb-actions size="medium" fullWidth>
          <nb-action>

            <i style="font-size: 2rem" class="nb-grid-b-outline"></i>
            <a href="#/pages/productlist/Processor" routerLink="['../pages/productlist', 'Processor']"><span>View More</span>
            </a>
          </nb-action>
        </nb-actions>
      </nb-card-footer>
    </nb-card>

  </div>
</div>

<div class="row" style="margin-top: 10px">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12 col-is-12">
    <nb-card>
        <nb-card-header class="color headerpad"><h4><strong>Graphic Card</strong></h4> </nb-card-header>
      <nb-card-body>
        <div class="ngspinner" *ngIf="isRunning">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
         </div>
        <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12 col-is-12">
            <ngu-carousel #myCarousel [inputs]="carouselTile"  (carouselLoad)="carouselTileLoad($event)" [dataSource]="graphiccard">
                <ngu-tile *nguCarouselDef="let slide;">
                  <a (click)="productDetails(slide['data']['id'])">
                    <img [src]="globalShared['urlpath']+slide['image']"  src-fallback="{{globalShared['defaultimage']}}" class="thumbnail mx-auto d-block">
                    <blockquote class="blockquote">
                      <p class="mb-0">{{slide['data']['title']}} </p>
                    </blockquote>
                  </a>
                </ngu-tile>
                <a class="right carousel-control-prev" NguCarouselPrev role="button">
                  <span aria-hidden="true" class="carousel-control-prev-icon leftRs"></span>
                  <span class="sr-only">Prev</span>
                </a>
                <a class="right carousel-control-next" NguCarouselNext role="button">
                  <span aria-hidden="true" class="carousel-control-next-icon rightRs"></span>
                  <span class="sr-only">Next</span>
                </a>
              </ngu-carousel>
         
        </div>
      </nb-card-body>
      <nb-card-footer style="padding: 0.5rem">
        <nb-actions size="medium" fullWidth>
          <nb-action>
              <i style="font-size: 2rem" class="nb-grid-b-outline"></i>
            <a href="#/pages/productlist/GraphicCard" routerLink="['../pages/productlist', 'GraphicCard']"><span>View More</span>
            </a>
          </nb-action>
        </nb-actions>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
<div class="row" style="margin-top: 10px">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12 col-is-12">
    <nb-card>
      <nb-card-header class="color headerpad"><h4><strong>Router</strong></h4> </nb-card-header>
      <nb-card-body>
        <div class="ngspinner" *ngIf="isRunning">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
         </div>
        <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12 col-is-12">
            <ngu-carousel #myCarousel [inputs]="carouselTile"  (carouselLoad)="carouselTileLoad($event)" [dataSource]="routers">
                <ngu-tile *nguCarouselDef="let slide;">
                  <a (click)="productDetails(slide['data']['id'])">
                    <img [src]="globalShared['urlpath']+slide['image']"  src-fallback="{{globalShared['defaultimage']}}" class="thumbnail mx-auto d-block">
                    <blockquote class="blockquote">
                      <p class="mb-0">{{slide['data']['title']}} </p>
                    </blockquote>
                  </a>
                </ngu-tile>
                <a class="right carousel-control-prev" NguCarouselPrev role="button">
                  <span aria-hidden="true" class="carousel-control-prev-icon leftRs"></span>
                  <span class="sr-only">Prev</span>
                </a>
                <a class="right carousel-control-next" NguCarouselNext role="button">
                  <span aria-hidden="true" class="carousel-control-next-icon rightRs"></span>
                  <span class="sr-only">Next</span>
                </a>
              </ngu-carousel>
        </div>
      </nb-card-body>
      <nb-card-footer style="padding: 0.5rem">
        <nb-actions size="medium" fullWidth>
          <nb-action>
              <i style="font-size: 2rem" class="nb-grid-b-outline"></i>
            <a href="#/pages/productlist/Router" routerLink="['../pages/productlist', 'Router']"><span>View More</span>
            </a>
          </nb-action>
        </nb-actions>
      </nb-card-footer>
    </nb-card>
  </div>
</div> 
